<div class="container col-md-10">
  <div class="card">
    <div class="card-header">
      <h1 align="center">
        <img
          src="https://www.flaticon.es/svg/static/icons/svg/3022/3022343.svg"
          width="100"
          height="100"
          class="d-inline-block align-top"
          alt=""
        />
        Patient Appointments
      </h1>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>ID Appointment</th>
            <th>Id Clinic</th>
            <th>Patient DPI</th>
            <th>Appointment Reason</th>
            <th>Appointment Date</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let appoint of appointments | async"
            (click)="EditAppoint(appoint.idAppointment)"
          >
            <td>{{ appoint.idAppointment }}</td>
            <td>{{ appoint.idClinic }}</td>
            <td>{{ appoint.dpi }}</td>
            <td>{{ appoint.reason }}</td>
            <td>{{ appoint.dateAppointment }}</td>
          </tr>
        </tbody>
      </table>
      <button (click)="AddAppoint()" class="btn btn-dark">
        New Appointment
      </button>
    </div>
  </div>
</div>
